.listItemContainer{
    width: 300px;
   
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(173, 169, 169);
    cursor: pointer;
    transition: transform .2s;
    padding: 10px;
    
   min-height: 400px;
}
.listItemContainer:hover{
    transform: scale(1.05)
}

.logoContainer{
    display: flex;
    flex-direction: row;
   
}

.postingDetails{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
    max-width:  150px;
    border-radius: 100px;
    text-align: center;
    margin-bottom: 15px;
    color : gray;
    font-size: 13px;
    box-shadow: 3px 3px rgb(173, 169, 169);
    max-height: 25px;
}
.TimeImage{
    height: 20px;
    width: 20px;
    border-radius: 20px;
}

.basicInfo{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.logo{
    height: 50px;
    width: 50px;
    border-radius: 200px;
}
.salary{
    margin: 10px;
}
.experience{
    margin: 10px;
    color: rgb(110, 107, 107);;
}
.extraMargin{
    margin-bottom: 100px;
}

.toggleButton{
    background-color: transparent;
    border: 0;
    color: blue;
    cursor: pointer;
    z-index: 1;
}
.jobDetails{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.apply{
    
    width: 100%;
    text-align: center;
    background-color: rgb(38, 220, 144);
    border: 1px solid white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
   
    
    
}
.apply a{
    text-decoration: none ;
   
}
.apply:hover{
    opacity: 75%;
}
.companyText{
    color : rgb(110, 107, 107);
}

.location{
    font-size: 13px;
}
.fade-effect {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 0;
    
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  }
 